{% load crispy_forms_tags %}

{% load static %}

<button id="triggerModalForm" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModalCenter">
  Modal Form
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
      </div>
      <div class="modal-body">
            <form hx-post="{% url 'user:login' %}" hx-target="#navbars" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <div class="row">
                    {% if form %}
                        <div class="col-md-12">{{form.username|as_crispy_field}}</div>
                        <div class="col-md-12">{{form.password|as_crispy_field}}</div>
                    {% endif %}
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Login</button>
            </form>
        </div>
    </div>
  </div>
</div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script>
  $("#triggerModalForm").trigger('click');
</script>