{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow my-2">
            <div class="row p-3">
                <div class="col-md-12">
                    <h4 class="text-center mt-2">Log In</h4>
                    <hr class="w-25" />
                </div>
                <div class="col-md-12">
                    <form action="{% url 'user:login' %}" metho="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field|as_crispy_field }}
                        {% endfor %}
                        <button class="btn btn-primary pull-right mb-2" type="submit">Login</button>
                    </form>
                    <div>
                        <p class="text-xs-center">
                            <a href="#">Need a Account?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
